.App {
  display: flex;
  flex-direction: row;
}
body {
  margin: 0;
  padding: 0;
}
.SideMenuAndPageContent {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.btn-cancel {
  background-color: #fff2e7;
  color: #ff9138;
  height: 48px;
  width: 147px;
  border-color: #ff9138;
}
.btn-submit {
  background-color: #ff9138;
  color: #fff2e7;
  height: 48px;
  width: 147px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #ff7506;
  height: 1000;
}
.ant-table-thead .ant-table-cell {
  background-color: #ff9138 !important;
  color: white !important;
}
.table-row-light {
  background-color: #ffffff;
}
.table-row-dark {
  background-color: #fff2e7;
}
.label-h1 {
  color: #ff7506;
  font-size: 24px;
}
.label-h2 {
  font-size: 20px;
  color: #ff7506;
}
.btn-update {
  height: 100px;
  width: 90px;
  background-color: #fff2e7;
}
.label-number {
  color: #ff7506;
  font-size: 56px;
  font-weight: 800;
  line-height: 60px;
}
.label-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}