.App {
  display: flex;
  flex-direction: row;
}
body{
  margin: 0;
  padding: 0;
}
.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.btn-cancel {
  background-color: #fff2e7;
  color: #ff9138;
  height: 48px;
  width: 147px;
  border-color: #FF9138;
}
.btn-submit {
  background-color: #ff9138;
  color: #fff2e7;
  height: 48px;
  width: 147px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: end;
    background: #FF7506;
    height: 1000;
}
.ant-table-thead .ant-table-cell {
  background-color: #FF9138 !important;
}
.ant-table-thead title{
  color: white;
}
.table-row-light {
  background-color: #ffffff;
}
.table-row-dark {
  background-color: #FFF2E7;
}
.label-h1{
  color: #FF7506;
  font-size: 24px;
}
.label-h2{
  font-size: 20px;
  color: #FF7506;
}
.btn-update{
  height: 100px;
  width: 90px;
  background-color: #FFF2E7;
}